<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Backbone.js</title>
    <style>
        .completed {
            text-decoration: line-through;
            color: gray;
        }
    </style>
</head>
<body>
    <h1>Tasks</h1>
    <form id="addTask">
        <input type="text" id="title" value="" />
        <input type="submit" value="add" />
        <span id="error"></span>
    </form>
    <div id="tasks"></div>
    <p>
        <span>Tasks left: </span>
        <span id="count"></span>
    </p>
    <script type="text/template" id="task-template">
        <input type="checkbox" name="tasks[]" id="tasks<%- title %>" class="toggle" <%= completed ? 'checked="checked"' : '' %> />
        <label for="tasks<%- title %>" class="<%= completed ? 'completed' : '' %>">
        <%- title %>
        </label>
        <span class="delete">[x]</span>
    </script>
    <script src="js/jquery.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/backbone.js"></script>
    <script src="app/app.js"></script>
</body>
</html>
