.thumb-wrap {
    padding: 16px 16px 14px;
    width: 150px;
    height: 180px;
    text-align: center;
    font-size: 14px;
    float: left;
    margin: 5px;

    border: 3px solid white;

    -moz-box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.45);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 0;

    min-height: 180;
    _height: 180;
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.45);
    background: white;
    background: -moz-linear-gradient(top, white 0%, white 50%, #F0F0F0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,white), color-stop(50%,white), color-stop(100%,#F0F0F0));
    background: -webkit-linear-gradient(top, white 0%,white 50%,#F0F0F0 100%);
    background: -o-linear-gradient(top, white 0%,white 50%,#F0F0F0 100%);
    background: -ms-linear-gradient(top, white 0%,white 50%,#F0F0F0 100%);
}

.thumb-wrap p {
    text-align: left;
    line-height: 18px;
}

